@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:wght@400;500&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  width: 100%;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2em;
}

body {
  color: #222;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
