@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&family=Montserrat&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  width: 100%;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2em;
}

a {
  color: #222;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  text-decoration: none;
}

body {
  color: #222;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

/** Alternate option: 
 * background: hsl(43, 95.4%, 66.1%);
 */
::selection {
  background: hsl(35, 100%, 74.1%);
}
